@font-face{
    src: url("../fuentes/ballpark.ttf");
    font-family: "ballpark";
}
@font-face{
    src: url("../fuentes/dayrom.eot");
    font-family: "dayrom";
}
body{
    background-color: bisque;
}
#cabecera{
    border: transparent;
    width: 999px;
    height: 150px;  
}
h1{
    font-family: "ballpark";
}
#maleta{
    float: left;
    width: 10%;
}
#menu{
    border: transparent;
    width: 500px;
    height: 20px;
    float: right;
    margin-top: 30px;
    margin-right: 200px;
}
#home{
    display: inline-block;
    margin-left: 30px;
}
#blog{
    display: inline-block;
    margin-left: 30px;
}
#viajes{
    display: inline-block;
    margin-left: 30px;
}
#contacto{
    display: inline-block;
    margin-left: 30px;
}
#imagen{
    border: transparent;
    width: 999px;
    height: 200px;
}
#sanfrancisco{
    width: 998px;
    height: 199px;
    border-radius: 15px;
}
#recuerdo{
    border: transparent;
    width: 550px;
    height: 500px;
    float: left;
}
#pinza{
    width: 10%;
    float: left;
}
h2{
    font-family: "dayrom";
}
#tiempo{
    border: transparent;
    border-radius: 15px;
    background-color: gray;
    width: 400px;
    height: 500px;
    float: right;
    margin-right: 330px;
}
h3{
    margin-left: 10px;
}
#flecha{
    float: left;
    margin-left: -12px;
    margin-top: 80px;
}
#twitter{
    margin-top: 340px;
    margin-left: 12px;
}
#vimeo{
    margin-top: 340px;
    margin-left: 10px;
}
#facebook{
    margin-top: 340px;
    margin-left: 10px;
}
#flickr{
    margin-top: 340px;
    margin-left: 10px;
}
#footer{
    border: solid black;
    width: 999px;
    height: 200px;
    margin-top: 10px;
}
#ultimotweet{
    width: 300px;
    height: 300px;
    border: transparent;
    display: inline-block;
    margin-left: 10px;
    margin-top: -200px;
    
}
#fotos{
    width: 300px;
    height: 300px;
    border: transparent;
    display: inline-block;
    margin-left: 10px;
    margin-top: -200px;
    
}
#img1{
    width: 10%;
    display: inline-block;
    margin-left: 30px;
}
#img2{
    width: 10%;
    display: inline-block;
    margin-left: 30px;
}
#img3{
    width: 10%;
    display: inline-block;
    margin-left: 30px;
}
#img4{
    width: 10%;
    display: inline-block;
    margin-left: 30px;
}
#amigos{
    width: 500px;
    height: 400px;
    border: transparent;
    display: inline-block;
    margin-left: 50px;
    margin-top: 100px;
    margin-right: -80%;
}

hr{
    border: solid black 2px;
    width: -999px;
    margin-left: 10px;
}
#linea{
    width: 500%;
    height: -500%;
    image-resolution: 200px;
    margin: 15%;
}